<ion-header>

    <ion-navbar color="primary">
        <ion-title text-center>Продукты</ion-title>
        <ion-icon
            color="secondary"
            (click)="newPost()"
            class="add-new"
            name="add-circle"></ion-icon>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-searchbar (ionInput)="searchEvent($event)"></ion-searchbar>

    <div text-center *ngIf="!(posts$ | async)">
        <ion-spinner color="primary" name="bubbles"></ion-spinner>
    </div>

    <ion-list>
        <ion-item-sliding *ngFor="let post of posts$ | async">
            <ion-item>
                <!-- <ion-avatar item-start>
                    <img src="">
                </ion-avatar> -->
                <h2>{{post.title}}</h2>
                <h3>
                    <ion-icon name="pricetag"></ion-icon> {{post.price}}
                </h3>
                <p>
                    <ion-icon name="calendar"></ion-icon> {{post.created | date : 'dd.MM.yyyy'}}
                </p>
            </ion-item>

            <ion-item-options side="right">
                <button ion-button color="danger">Удалить</button>
                <button ion-button color="light">Обновить</button>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>

</ion-content>