<ion-header>
    <ion-navbar color="primary">
        <ion-title>Продукт</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form class="example-form" (submit)="onSubmit()" [formGroup]="form">
        <span mat-raised-button color="primary">Снять QR-code</span>

        <mat-form-field class="example-full-width" *ngIf="form.get('qrcode').value">
            <input formControlName="qrcode" matInput placeholder="QR-code" type="tel">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input formControlName="title" matInput placeholder="Название" type="tel">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input #price formControlName="price" matInput placeholder="Цена" type="tel">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input #amount formControlName="amount" matInput placeholder="Количество" type="tel">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input #soldAmount formControlName="soldAmount" matInput placeholder="Продано шт. ед." type="tel">
        </mat-form-field>

        <button *ngIf="!showSpeener; else spinner" type="submit" mat-raised-button color="primary">Создать</button>

        <ng-template #spinner>
            <button mat-raised-button color="primary">
                <ion-spinner color="light" name="bubbles"></ion-spinner>
            </button>
        </ng-template>


        <h5>Общая стоимость: {{ price?.value * amount?.value }}</h5>
        <h5>Осталось единиц: {{ amount?.value - soldAmount?.value }}</h5>
        <h5>Продано в сомах: {{ price?.value * soldAmount?.value }}</h5>
        <h5>Осталось в сомах: {{ price?.value * (amount?.value - soldAmount?.value)}}</h5>
        
    </form>
</ion-content>