page-edit-post {
    .example-form {
        width: 100%;
    }
    
    .example-full-width {
        width: 100%;
    }
}

ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
    background: transparent none !important;
  }